In [19]:
record = {"1001": {"name": "Choco Cake", "qn": 34, "pr": 100},
          "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, 
          "1003": {"name": "Drink", "pr": 85, "qn": 100}, 
          "1004": {"name": "Candy", "pr": 5, "qn": 1000}, 
          "1005": {"name": "Pen", "pr": 20, "qn": 100}, 
          "1006": {"name": "Phone", "pr": 50000, "qn": 10},
          "1007": {"name": "Coffee", "pr": 65, "qn": 20},
          "1008": {"name": "ICE Creame", "pr": 60, "qn": 30},
          "1009": {"name": "Nailcutter", "pr": 35, "qn": 100},
          "1010": {"name": "Pepsi", "pr": 50, "qn": 100},
          "1011": {"name": "Coca Cola", "pr": 50, "qn": 50},
          "1012": {"name": "Headphones", "pr": 300, "qn": 30},
          "1013": {"name": "Pensil", "pr": 15, "qn": 100},
          "1014": {"name": "Rubber", "pr": 10, "qn": 1000},
          "1015": {"name": "Dairymilk", "pr": 40, "qn": 100},
          "1016": {"name": "Kitkat", "pr": 20, "qn": 100},
          "1017": {"name": "Munch", "pr": 20, "qn": 100},
          "1018": {"name": "Colin", "pr": 60, "qn": 100},
          "1019": {"name": "Hamam soap", "pr": 25, "qn": 100},
          "1020": {"name": "Jocky", "pr": 375, "qn": 100},
          "1021": {"name": "Heaters", "pr": 400, "qn": 100},
          "1022": {"name": "Dove", "pr": 10, "qn": 100},
          "1023": {"name": "Santoor", "pr": 20, "qn": 100},
          "1024": {"name": "Rin", "pr": 20, "qn": 100},
          "1025": {"name": "Rin Powder", "pr": 40, "qn": 50},
          "1026": {"name": "Garbage bags", "pr": 65, "qn": 100},
          "1027": {"name": "Door Mat", "pr": 120, "qn": 100},
          "1028": {"name": "School Bags", "pr": 400, "qn": 50},
          "1029": {"name": "Towels", "pr": 80, "qn": 100},
          "1030": {"name": "Charges", "pr": 250, "qn": 100}
         }

In [20]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Coffee', 'pr': 65, 'qn': 20},
 '1008': {'name': 'ICE Creame', 'pr': 60, 'qn': 30},
 '1009': {'name': 'Nailcutter', 'pr': 35, 'qn': 100},
 '1010': {'name': 'Pepsi', 'pr': 50, 'qn': 100},
 '1011': {'name': 'Coca Cola', 'pr': 50, 'qn': 50},
 '1012': {'name': 'Headphones', 'pr': 300, 'qn': 30},
 '1013': {'name': 'Pensil', 'pr': 15, 'qn': 100},
 '1014': {'name': 'Rubber', 'pr': 10, 'qn': 1000},
 '1015': {'name': 'Dairymilk', 'pr': 40, 'qn': 100},
 '1016': {'name': 'Kitkat', 'pr': 20, 'qn': 100},
 '1017': {'name': 'Munch', 'pr': 20, 'qn': 100},
 '1018': {'name': 'Colin', 'pr': 60, 'qn': 100},
 '1019': {'name': 'Hamam soap', 'pr': 25, 'qn': 100},
 '1020': {'name': 'Jocky', 'pr': 375, 'qn': 100},
 '1021': {'name': 'Heaters', 'pr': 400, 'qn': 100},
 '1022': {'name': 'Dove', 'pr': 10, 'qn': 100},
 '1023': {'name': 'Santoor', 'pr': 20, 'qn': 100},
 '1024': {'name': 'Rin', 'pr': 20, 'qn': 100},
 '1025': {'name': 'Rin Powder', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Garbage bags', 'pr': 65, 'qn': 100},
 '1027': {'name': 'Door Mat', 'pr': 120, 'qn': 100},
 '1028': {'name': 'School Bags', 'pr': 400, 'qn': 50},
 '1029': {'name': 'Towels', 'pr': 80, 'qn': 100},
 '1030': {'name': 'Charges', 'pr': 250, 'qn': 100}}

In [21]:
import json

js = json.dumps(record)

In [11]:
fd = open("record.json",'w')
r = fd.write(js)
fd.close()

In [12]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [13]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Coffee', 'pr': 65, 'qn': 20},
 '1008': {'name': 'ICE Creame', 'pr': 60, 'qn': 30},
 '1009': {'name': 'Nailcutter', 'pr': 35, 'qn': 100},
 '1010': {'name': 'Pepsi', 'pr': 50, 'qn': 100},
 '1011': {'name': 'Coca Cola', 'pr': 50, 'qn': 50},
 '1012': {'name': 'Headphones', 'pr': 300, 'qn': 30},
 '1013': {'name': 'Pensil', 'pr': 15, 'qn': 100},
 '1014': {'name': 'Rubber', 'pr': 10, 'qn': 1000},
 '1015': {'name': 'Dairymilk', 'pr': 40, 'qn': 100},
 '1016': {'name': 'Kitkat', 'pr': 20, 'qn': 100},
 '1017': {'name': 'Munch', 'pr': 20, 'qn': 100},
 '1018': {'name': 'Colin', 'pr': 60, 'qn': 100},
 '1019': {'name': 'Hamam soap', 'pr': 25, 'qn': 100},
 '1020': {'name': 'Jocky', 'pr': 375, 'qn': 100},
 '1021': {'name': 'Heaters', 'pr': 400, 'qn': 100},
 '1022': {'name': 'Dove', 'pr': 10, 'qn': 100},
 '1023': {'name': 'Santoor', 'pr': 20, 'qn': 100},
 '1024': {'name': 'Rin', 'pr': 20, 'qn': 100},
 '1025': {'name': 'Rin Powder', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Garbage bags', 'pr': 65, 'qn': 100},
 '1027': {'name': 'Door Mat', 'pr': 120, 'qn': 100},
 '1028': {'name': 'School Bags', 'pr': 400, 'qn': 50},
 '1029': {'name': 'Towels', 'pr': 80, 'qn': 100},
 '1030': {'name': 'Charges', 'pr': 250, 'qn': 100}}

In [14]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1004
Enter name:Banana
Enter price:40
Enter quantity:10

In [15]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Banana', 'pr': 40, 'qn': 10},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Coffee', 'pr': 65, 'qn': 20},
 '1008': {'name': 'ICE Creame', 'pr': 60, 'qn': 30},
 '1009': {'name': 'Nailcutter', 'pr': 35, 'qn': 100},
 '1010': {'name': 'Pepsi', 'pr': 50, 'qn': 100},
 '1011': {'name': 'Coca Cola', 'pr': 50, 'qn': 50},
 '1012': {'name': 'Headphones', 'pr': 300, 'qn': 30},
 '1013': {'name': 'Pensil', 'pr': 15, 'qn': 100},
 '1014': {'name': 'Rubber', 'pr': 10, 'qn': 1000},
 '1015': {'name': 'Dairymilk', 'pr': 40, 'qn': 100},
 '1016': {'name': 'Kitkat', 'pr': 20, 'qn': 100},
 '1017': {'name': 'Munch', 'pr': 20, 'qn': 100},
 '1018': {'name': 'Colin', 'pr': 60, 'qn': 100},
 '1019': {'name': 'Hamam soap', 'pr': 25, 'qn': 100},
 '1020': {'name': 'Jocky', 'pr': 375, 'qn': 100},
 '1021': {'name': 'Heaters', 'pr': 400, 'qn': 100},
 '1022': {'name': 'Dove', 'pr': 10, 'qn': 100},
 '1023': {'name': 'Santoor', 'pr': 20, 'qn': 100},
 '1024': {'name': 'Rin', 'pr': 20, 'qn': 100},
 '1025': {'name': 'Rin Powder', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Garbage bags', 'pr': 65, 'qn': 100},
 '1027': {'name': 'Door Mat', 'pr': 120, 'qn': 100},
 '1028': {'name': 'School Bags', 'pr': 400, 'qn': 50},
 '1029': {'name': 'Towels', 'pr': 80, 'qn': 100},
 '1030': {'name': 'Charges', 'pr': 250, 'qn': 100}}

In [16]:
del record['1001']

In [17]:
record

{'1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Banana', 'pr': 40, 'qn': 10},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Coffee', 'pr': 65, 'qn': 20},
 '1008': {'name': 'ICE Creame', 'pr': 60, 'qn': 30},
 '1009': {'name': 'Nailcutter', 'pr': 35, 'qn': 100},
 '1010': {'name': 'Pepsi', 'pr': 50, 'qn': 100},
 '1011': {'name': 'Coca Cola', 'pr': 50, 'qn': 50},
 '1012': {'name': 'Headphones', 'pr': 300, 'qn': 30},
 '1013': {'name': 'Pensil', 'pr': 15, 'qn': 100},
 '1014': {'name': 'Rubber', 'pr': 10, 'qn': 1000},
 '1015': {'name': 'Dairymilk', 'pr': 40, 'qn': 100},
 '1016': {'name': 'Kitkat', 'pr': 20, 'qn': 100},
 '1017': {'name': 'Munch', 'pr': 20, 'qn': 100},
 '1018': {'name': 'Colin', 'pr': 60, 'qn': 100},
 '1019': {'name': 'Hamam soap', 'pr': 25, 'qn': 100},
 '1020': {'name': 'Jocky', 'pr': 375, 'qn': 100},
 '1021': {'name': 'Heaters', 'pr': 400, 'qn': 100},
 '1022': {'name': 'Dove', 'pr': 10, 'qn': 100},
 '1023': {'name': 'Santoor', 'pr': 20, 'qn': 100},
 '1024': {'name': 'Rin', 'pr': 20, 'qn': 100},
 '1025': {'name': 'Rin Powder', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Garbage bags', 'pr': 65, 'qn': 100},
 '1027': {'name': 'Door Mat', 'pr': 120, 'qn': 100},
 '1028': {'name': 'School Bags', 'pr': 400, 'qn': 50},
 '1029': {'name': 'Towels', 'pr': 80, 'qn': 100},
 '1030': {'name': 'Charges', 'pr': 250, 'qn': 100}}

In [23]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", record[ui_prod]['name'])
print("Price: ", record[ui_prod]['pr'])
print("Billing Amount: ", record[ui_prod]['pr'] * ui_quant)

record[ui_prod]['qn'] = record[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1029
Enter the quantity: 1
Product:  Towels
Price:  80
Billing Amount:  80

In [25]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [26]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Coffee', 'pr': 65, 'qn': 20},
 '1008': {'name': 'ICE Creame', 'pr': 60, 'qn': 30},
 '1009': {'name': 'Nailcutter', 'pr': 35, 'qn': 100},
 '1010': {'name': 'Pepsi', 'pr': 50, 'qn': 100},
 '1011': {'name': 'Coca Cola', 'pr': 50, 'qn': 50},
 '1012': {'name': 'Headphones', 'pr': 300, 'qn': 30},
 '1013': {'name': 'Pensil', 'pr': 15, 'qn': 100},
 '1014': {'name': 'Rubber', 'pr': 10, 'qn': 1000},
 '1015': {'name': 'Dairymilk', 'pr': 40, 'qn': 100},
 '1016': {'name': 'Kitkat', 'pr': 20, 'qn': 100},
 '1017': {'name': 'Munch', 'pr': 20, 'qn': 100},
 '1018': {'name': 'Colin', 'pr': 60, 'qn': 100},
 '1019': {'name': 'Hamam soap', 'pr': 25, 'qn': 100},
 '1020': {'name': 'Jocky', 'pr': 375, 'qn': 100},
 '1021': {'name': 'Heaters', 'pr': 400, 'qn': 100},
 '1022': {'name': 'Dove', 'pr': 10, 'qn': 100},
 '1023': {'name': 'Santoor', 'pr': 20, 'qn': 100},
 '1024': {'name': 'Rin', 'pr': 20, 'qn': 100},
 '1025': {'name': 'Rin Powder', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Garbage bags', 'pr': 65, 'qn': 100},
 '1027': {'name': 'Door Mat', 'pr': 120, 'qn': 100},
 '1028': {'name': 'School Bags', 'pr': 400, 'qn': 50},
 '1029': {'name': 'Towels', 'pr': 80, 'qn': 99},
 '1030': {'name': 'Charges', 'pr': 250, 'qn': 100}}

In [28]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}

{'prod': '1029', 'qn': 1, 'amount': 80}

In [30]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}}

In [31]:
sale = json.dumps(sales)

In [33]:
sale

'{"1": {"prod": "1029", "qn": 1, "amount": 80}, "2": {"prod": "1029", "qn": 1, "amount": 80}, "3": {"prod": "1029", "qn": 1, "amount": 80}}'